/* Index Home Page Styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color:#AFEEEE;/* Pale Turquoise */
    font-size:20px;
    display: flex;
    flex-direction: column;
    
}
/* Header Styling */
#content {
    max-width:60%;
    margin: 40px auto;
    padding: 50px;
    flex: 1;

}
header {
    justify-content: center;
}
h1 {
    font-family: 'Daniel', sans-serif;
    text-align: center;
}
/* Section Styling */
#section {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.assignment {
    list-style: none;
    
}
/* Nav Styling */
nav {
    background-color: #E0FFFF;/*Light Cyan*/
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Daniel', sans-serif;
    
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
nav a:hover {
    color: #AFEEEE;/*Pale Turquoise*/
}

/* Footer Styling */
footer {
    background-color: #E0FFFF;/*Light Cyan */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;

}
