/* Index Home Page Styling */

body {
    background-color:#ffdab9;
    font-size:20px;
    
}
/* Header Styling */
#content {
    max-width:60%;
    margin: 40px auto;
    padding: 50px;
}
header {
    justify-content: center;
}
h1 {
    font-family: 'Daniel', sans-serif;
    text-align: center;
}
/* Section Styling */
#section {
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.assignment {
    list-style: none;
    
}
/* Nav Styling */
nav {
    background-color: #ff7f50;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Daniel', sans-serif;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
nav a:hover {
    color: #ffdab9;
}

/* Footer Styling */
footer {
    background-color: #ff7f50;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;

}
