/* Index Home Page Styling */

body {
    background-color:#ffdab9;
    font-size:20px;
}
#content {
    max-width:60%;
    margin: 40px auto;
    padding: 50px;
}
#section {
    display: flex;
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%;
}
.assignment {
    list-style: none;
    
}