/* CSS for Mission Statement */
/* Author: Casey Heyrend */

/* Body styling */
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 50px;
}
/* Content styling */
#content {
    background-color: white;
    width: 600px;
    padding: 60px;
    text-align: center;
    border: 1px solid #ddd;
}
/* Heading and school name styling */
h1 {
    text-transform: uppercase;    
}
.school {
    text-transform: uppercase;
}
/* Hr styling */
/* hr {
    
}
/* Statement and list styling */
/*
#statement {
    
}
.list {
    
}*/