/* Mobile Layout */
* {
margin: 0;
padding: 0;
}
/* Body */
body {
  background-color: #f2f2f2;
  font-family: Georgia, serif;
  padding: 20px;
  color: #333;
}
.container {
  max-width: 350px;
  margin: 30px auto;
  background: white;
  border: 3px solid black;
}
/* Header & Navigation */
/*header {
  text-align: center;
  border-bottom: 2px solid #f3e5d8;
  margin-bottom: 20px;
  padding-bottom: 10px;
}*/

header h1 {
  /*font-size: 2rem;
  margin-bottom: 10px;*/
  text-align: center;
  color: #3B2337;/* Dark Burgundy */
  padding: 20px 0;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 15px 30px;
  border-top: 3px solid #F2D6B7;/* Light Peach */
  border-bottom: 3px solid #F2D6B7;/* Light Peach */
}

nav a {
  text-decoration: none;
  color: #A40228;/* Dark Red */
  font-size: 14px;
}

/* First Post */
.mobile-only {
  border-top: 2px solid #d9a46c;/* Light Peach */

}
.book {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  max-width: 1000px;
  padding: 30px;
}

/* Meta Information */
.book-meta {
  text-align: right;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
}

.book-meta .meta-item {
  margin: 4px 0;
}
/* Main Content */
.book-content h2 {
  color: #A40A26;/* Dark Red */
  font-size: 1.5rem;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Times New Roman', serif;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: Arial, sans-serif;
}

.book-cover {
  width: 200px;
  height: auto;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
/* Footer */
footer {
  text-align: center;
  border-top: 2px solid #d9a46c;/* Light Peach */
  margin-top: 40px;
  padding-top: 15px;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
}
/* Desktop Layout */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
  .mobile-only {
    border-top: none;
  }
  .book {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 40px;
    align-items: start;
  }

  .book-meta {
    border-right: 2px solid #d9a46c;
    padding-right: 20px;
    margin-bottom: 0;
    min-height: 450px;
  }

  .book-cover {
    margin-left: 120px;

  }
  .book-details {
    max-width: 600px;;

  }
}